<div class="container text-center mt-5">
    <h1 class="display-3 font-weight-bold text-uppercase rainbow-text text-shadow">
      CATALOGO
    </h1>
  </div>
  
<style>
    .rainbow-text {
      background-image: linear-gradient(to right, #ff0000, #ff3232, #ff4901, #ff7300, #fd9721, #ff9f22);
      -webkit-background-clip: text;
      color: transparent;
    }
  
    .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .font-weight-bold {
    font-weight: 500;
    }
</style>