{% extends 'producto/index.html' %}

{% block INDEX_TITULO %}
   Detalle de Productos
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
    
    <ul>
        <li>Categoría: {{ object.categoria }}</li>
        <li>Nombre: {{ object.nombre }}</li>
        <li>Unidad de medida: {{ object.unidad_de_medida }}</li>
        <li>cantidad: {{ object.cantidad }}</li>
        <li>precio: {{ object.precio }}</li>
        <li>descripción: {{ object.descripcion }}</li>
        <li>fecha de actualización: {{ object.fecha_actualizacion }}</li>
    </ul>

    <br>
    <div class="text-center ">
        <a class="btn btn-success " href="https://wa.me/+5491139556151" target="_blank">Contactar con el Vendedor</a>
    </div>
    <br>
    <div class="d-grid gap-3">
        <a href="{% url 'producto:producto_list' %}" class="btn btn-info ">Ir atrás</a>
    </div>
    <br>
    {% include 'Home/index_back.html' %}
{% endblock INDEX_CONTENIDO %}